[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
pylint = "*"
flake8 = "*"
mixer = "*"

[packages]
anyjson = "*"
"beautifulsoup4" = "*"
bottlenose = "*"
celery = "<4"
dj-database-url = "*"
django-appconf = "*"
django-celery = "*"
django-email-html = "*"
django-ipware = "*"
django-js-reverse = "*"
django-model-utils = "*"
django-notifications-hq = "*"
django-user-accounts = "*"
django-widget-tweaks = "*"
dnspython = "*"
"geoip2" = "*"
gunicorn = "*"
icalendar = "*"
jsonfield = "*"
maxminddb = "*"
"psycopg2" = "*"
redis = "*"
requests = "*"
retrying = "*"
spotipy = "*"
ua-parser = "*"
user-agents = "*"
vine = "*"
whitenoise = "*"
xmltodict = "*"
Django = "*"
email_validator = "*"
Faker = "*"
Goodreads = "*"

[requires]
python_version = "3"
