{% extends "pyconcert/base.html" %}
{% load widget_tweaks %}

{% block content %}
<legend>Change your password. Why not?</legend>
<form method="POST" action="">
    <fieldset>
        {% csrf_token %}
        <div class="form-group">
	        <div class="input-group">
	            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	            {{ form.password_current|add_class:"form-control"|attr:"placeholder:Current Password" }}
	        </div>
	        <div class="input-group">
	            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	            {{ form.password_new|add_class:"form-control"|attr:"placeholder:New Password" }}
	        </div>
	        <div class="input-group">
	            <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
	            {{ form.password_new_confirm|add_class:"form-control"|attr:"placeholder:New Password (repeat)" }}
	        </div>
	     </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </fieldset>
</form>
{% endblock %}