{% extends "pyconcert/base.html" %}

{% block content %}
    <legend>Resetting your password...</legend>
    {% if not resend %}
        <p><b>You've got mail!</b> <small>or at least we hope so... If not, wait a few minutes and try resending.</small></p>
	        <form method="POST" action="{% url "account_password_reset" %}">
	            {% csrf_token %}
	            {% for field in form %}
	                {{ field.as_hidden }}
	            {% endfor %}
	            <button type="submit" name="resend" class="btn btn-primary">Resend</button>
	        </form>
    {% else %}
        <p>We have resent your mail. Let's hope it works better this time around.</p>
    {% endif %}
{% endblock %}