{% extends "pyconcert/base.html" %}
{% load widget_tweaks %}

{% block content %}
<form method="POST" action="">
    <p class="lead">Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.</p>
    <fieldset class="row">
        <div class="col-md-5">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                {{ form.email|add_class:"form-control"|attr:"placeholder:E-Mail" }}
            </div>
            <button type="submit" class="btn btn-primary">
                Reset
            </button>
        </div>
    </fieldset>
</form>

{% endblock %}