{% extends "pyconcert/base.html" %}
{% load widget_tweaks %}

{% block content %}
<form method="POST" action="">
    <p class="lead">To reset your password, please provide your e-mail address below. Thanks!</p>
    <fieldset class="row">
        <div class="col-md-5">
            {% csrf_token %}
            <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	                {{ form.email|add_class:"form-control"|attr:"placeholder:E-Mail" }}
	            </div>
	        </div>
            <button type="submit" class="btn btn-primary"> Reset </button>
        </div>
    </fieldset>
</form>

{% endblock %}