{% extends 'eventowl/base.html' %}
{% block content %}
<legend>News for you</legend>
<ul class="list-group">
{% for notice in notifications %}
    {% if notice.unread %}
        <li class="list-group-item">
            <b><a href="{% url notice.data.url_name %}?name_filter={{ notice.data.originator_name }}">{{ notice.verb }}</a></b>
            <a href="{% url 'notifications:mark_as_read' notice.slug %}" class="btn btn-xs pull-right" name="read">
                <span class="fa fa-envelope"></span>
            </a>
            <br/>
            <font size=2pt>Sent {{ notice.timesince }} ago.</font>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% include "eventowl/pagination.html"%}

<a href="{% url 'notifications:mark_all_as_read' %}" class="btn btn-primary btn-large" role="button">
	Mark all read
</a>

{% endblock content %}
