{% extends 'eventowl/common_base.html' %}
{% load static %}


{% block navbar_style %}
    navbar-inverse
{% endblock navbar_style%}


{% block navbar_title %}
    <a href="/" class="pull-left"><img src="{% static 'icons/eventowl-white.png' %}"></a>
    <a class="navbar-brand" href="/">EventOwl</a>
{% endblock navbar_title %}


{% block extra_header %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'eventowl.css' %}">
    <meta name="theme-color" content="#000000">
{% endblock extra_header %}