{% extends 'pyconcert/base.html' %}
{% load staticfiles%}

{% block content %}
<legend>Collect information from your local library</legend>
This little tool allows you to collect artist information from your local music library.<br>
You have to run it in your console (Terminal, cmd, ...) and provided it with a list of directories to search.<br>
It will then create a file called 'local_artists.json' in the same directory that the excecutable recides in.
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-3 col-centered">
            <a href="{% static 'tool/eventowl_windows.exe' %}"><font size="6"><i class="fa fa-windows"></i> Windows</font></a>
        </div>
        <div class="col-xs-3 col-centered">
            <a href="{% static 'tool/eventowl_linux' %}"><font size="6"><i class="fa fa-linux"></i> Linux</font></a>
        </div>
        <div class="col-xs-3 col-centered">
            <font size="6"><i class="fa fa-apple"></i> OSX</font>
            <br>(Not yet available)
        </div>
        <div class="col-xs-3 col-centered">
        	<a href="{% static 'tool/eventowl.py' %}"><font size="6"><i class="fa fa-code"></i> Python</font></a>
        </div>
    </div>
</div>
{%endblock content %}