{% load staticfiles %}
<html>
	<head> <title>EventOwl</title> 
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'pyconcert.css' %}">
		<script src="{% static 'jquery/jquery.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jquery/jExpand.js' %}"></script>
	</head>

<body>
    <div class="page-header">
	    <nav class="navbar navbar-inverse" role="navigation">
	      <div class="container-fluid">
		      <div class="navbar-header">
		          <a href="/" class="pull-left"><img src="{% static 'icons/eventowl-white.png' %}"></a>
		          <a class="navbar-brand" href="/">EventOwl</a>
		      </div>
	
		      <div class="collapse navbar-collapse" id="collapse">
		          <ul class="nav navbar-nav">
		          	{% if user.is_authenticated %}
		          	<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Add artists <b class="caret"></b></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="{% url 'pyconcert:spotify' %}">Spotify</a></li>
		                <li><a href="{% url 'pyconcert:upload_json' %}">JSON File</a></li>
		                <li><a href="{% url 'pyconcert:add_artists' %}">Manually</a></li>
		              </ul>
		            </li>
		            <li><a href="{% url 'pyconcert:show_artists' %}">Show Artists</a></li>
		            <li><a href="/">Show Events</a></li>
		            {%endif%}
		          </ul>
		          <ul class="nav navbar-nav navbar-right">
		            <li> <a href="{% url 'pyconcert:impressum' %}">Impressum</a></li>
		            <li> <a href="{% url 'pyconcert:about' %}">About</a></li>
		            <li class="nav-divider"></li>
		          	{% if user.is_authenticated %}
		          	   <li class="dropdown" id='user-menu'>
			          	   <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user.username }} <b class="caret"></b></a>
			          	   <ul class="dropdown-menu" role="menu">
				                <li><a href="{% url 'account_settings' %}">Settings</a></li>
				                <li><a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a></li>
			              </ul>
			           </li>
		          	{%endif%}
		          </ul>
		        </div>
	       </div>
	    </nav>
    </div>
    
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    
</body>
		
</html>