{% extends 'pyconcert/base.html' %}
{% block content %}

<form action="{% url 'pyconcert:show_artists' %}" method="get">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      <input id="id_filter"
           class="form-control"
           placeholder="Filter..."
           value="{{ request.GET.filter|default:"" }}"
           name="filter"
           type="text">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div>
</form>

{% if artists %}
    <form action="{% url 'pyconcert:show_artists' %}" method="get">
    <ul class="list-group">
    <button type="submit" style="display:none;"></button>
    {% for artist in artists %}
        <li class="list-group-item"> {{ artist.name }} <button type="submit" class="btn btn-xs pull-right" name="remove" value="{{ artist.name }}">
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                  </button>
        </li>
    {% endfor %}
    </ul>
    </form>    
{% include "pyconcert/pagination.html"%}

{% else %}
    {% if request.GET.filter%}
        <p>No artists matching {{ request.GET.filter }}.</p>
    {% else %}
        <p>You are not subscribed to any artists yet. Import some :)</p>
    {% endif %}
{% endif %}

{% endblock content %}