{% extends 'pyconcert/base.html' %}
{% block content %}

<form action="{% url 'pyconcert:show_artists' %}" method="get">
    <div class="input-group">
      <input id="id_filter"
           class="form-control"
           placeholder="Filter..."
           value="{{ request.GET.filter|default:"" }}"
           name="filter"
           type="text">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div>
</form>

{% if artists %}
    <ul class="list-group">
    {% for artist in artists %}
        <li class="list-group-item"> {{ artist.name }} </li>
    {% endfor %}
    </ul>
    
    {% if is_paginated %}
        <ul class="pagination">
        	{% if page_obj.has_previous %}
            	<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            	<li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page%}
                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                 {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                 {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            	<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            	<li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% else %}
    {% if request.GET.filter%}
        <p>No artists matching {{ request.GET.filter }}.</p>
    {% else %}
        <p>You are not subscribed to any artists yet. Import some :)</p>
    {% endif %}
{% endif %}

{% endblock content %}
