{% extends 'pyconcert/base.html' %}
{% load staticfiles%}
{% block content %}
<form class="form-inline" enctype="multipart/form-data" method="post" action="{% url 'pyconcert:upload_json' %}">
{% csrf_token %}
<div class="form-group">
<script src="{% static 'bootstrap/bootstrap-filestyle.min.js' %}"></script>
<input type="file"
	   class="filestyle"
	   name="{{ form.artists.html_name }}"
	   id="{{ form.artists.id_for_label }}"
       value="{{ form.artists.value }}">
</div>
<button type="submit" class="btn btn-default">Upload</button>
</form>
{{ form.artists.error }}
{{ form.non_field_errors }}
{%endblock content %}