{% extends 'pyconcert/base.html' %}
{% load widget_tweaks %}
{% load staticfiles%}

{% block content %}
<form class="form-inline" enctype="multipart/form-data" method="post" action="{% url 'pyconcert:upload_json' %}">
{% csrf_token %}
<div class="form-group">
<script src="{% static 'jquery/bootstrap-filestyle.min.js' %}"></script>
<div class="input-group">
    {{ form.artists|add_class:"filestyle"}}
</div>
<button type="submit" class="btn btn-primary">Upload</button>
</form>

{% if form.errors %}
<p>Could not upload file: {{ form.errors.artists|striptags }}</p>
{% endif %}

{%endblock content %}