{% extends 'concertowl/base.html' %}
{% block content %}

<legend>Add new artists manually. How very old school.</legend>
<form action="{% url 'concertowl:add_artists' %}" method="get">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-music"></i></span>
      <input id="id_filter"
           class="form-control"
           placeholder="New artist..."
           name="add"
           type="text">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Add!</button>
      </span>
    </div>
</form>

{% if request.GET.add %}
Sucesfully added {{ request.GET.add|title }}. Maybe they have an <a href="{% url 'concertowl:show_events' %}">event</a> soon?
{% endif %}

{% endblock content %}