{% extends 'eventowl/common_base.html' %}
{% load staticfiles %}


{% block extra_header %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-concert-theme.css' %}">
    <link rel="stylesheet" href="{% static 'concertowl.css' %}">
    <meta name="theme-color" content="#4b7b4c">
{% endblock extra_header %}


{% block navbar_style %}
    navbar-default
{% endblock navbar_style%}


{% block navbar_title %}
    <a href="/" class="pull-left"><img src="{% static 'icons/eventowl-white.png' %}"></a>
    <a style="padding:15 0 10 10; margin:0;" class="navbar-brand" href="/">EventOwl/</a>
    <a style="padding:15 10 10 0; margin:0;" class="navbar-brand" href="{% url 'concertowl:show_events' %}">ConcertOwl</a>
{% endblock navbar_title %}


{% block navbar %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Add artists <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'concertowl:spotify' %}">Spotify</a></li>
            <li><a href="{% url 'concertowl:upload_json' %}">Local library</a></li>
            <li><a href="{% url 'concertowl:add_artists' %}">Manually</a></li>
            <li><a href="{% url 'concertowl:recommendations' %}">Recommendations</a></li>
        </ul>
    </li>
    <li><a href="{% url 'concertowl:show_artists' %}">Show Artists</a></li>
    <li><a href="{% url 'concertowl:show_events' %}">Show Events</a></li>
{% endblock navbar %}