{% extends 'concertowl/base.html' %}
{% load common_tags %}

{% block content %}
<legend>The newest records of all your favorite artists.</legend>

<form action="{% url 'concertowl:show_records' %}" method="get">
    {% include "eventowl/filter.html"%}
</form>

{% if events %}
      <table class="table table-hover table-striped" id=events-table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Artists</th>
            <th>Release Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          {% with artists=event.artists.all|concat:", " %}
            <tr>
                <td>{{event.title|title}}</td>
                <td>{{ artists }}</td>
                <td>{{event.date|date}}</td>
                 <td>
                    <a href="{% url 'eventowl:ical' %}?start_date={{ event.date|date:'U' }}&summary={{ event.title|title }}&whole_day=1"
                           class="btn btn-xs pull-right" name="ical">
		    	            <span class="fa fa-calendar"></span>
                        </a>
                </td>
           </tr>
           <tr>
             <td colspan="4">
               The album <b>{{event.title|title}}</b> by <b>{{artists}}</b> is going to be released on <b>{{event.date}}</b>.<br>
               You can get more information <a href={{event.details_url}} target="_blank">here</a>.<br>
               <i>Let's hope it's a good one.</i>
          </td>
          </tr>
          {% endwith %}
         {% endfor %}
        </tbody>
      </table>


<script type="text/javascript">
$('#events-table').jExpand();
</script>

{% include "eventowl/pagination.html" %}

{% else %}
    {% if request.GET|get_item:'name_filter'|default:'' %}
        <p>No records matching '{{ request.GET.name_filter }}'.</p>
    {% else %}
        <p>Your <a href="{% url 'concertowl:show_artists' %}">subscribed artists</a> don't have records any time soon :(</p>
    {% endif %}
{% endif %}

{% endblock content %}
