{% extends 'concertowl/base.html' %}
{% load common_tags %}

{% block content %}
<legend>All your events. We hope you find something nice.</legend>

<form action="{% url 'concertowl:show_events' %}" method="get">
    {% include "eventowl/filter.html"%}
</form>

{% if events %}
      <table class="table table-hover table-striped" id=events-table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Artists</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          {% with artists=event.artists.all|concat:", " %}
            <tr>
                <td>{{event.date|date}}</td>
                <td>
                 {{ artists }}
                 </td>
                 <td>
                    <a href="{% url 'eventowl:ical' %}?start_date={{ event.date|date:'U' }}&start_time={{ event.time|time:'H:i' }}&duration=120&summary={{ artists }}&location={{ event.venue|title }}, {{ event.city|title }}"
                       class="btn btn-xs pull-right" name="ical">
                        <span class="fa fa-calendar"></span>
                    </a>
                </td>
           </tr>
           <tr>
             <td colspan="3">
               This event by {{ artists }} is going to take place at <b>{{event.venue}}</b> in <b>{{event.city}}</b> ({{event.country}}).<br>
               Be there at <b>{{event.time}}</b> on <b>{{event.date}}</b>.<br>
               You can book your tickets <a href={{event.ticket_url}} target="_blank">here</a>.<br>
               <i>Enjoy :)</i>
          </td>
          </tr>
          {% endwith %}
         {% endfor %}
        </tbody>
      </table>


<script type="text/javascript">
$('#events-table').jExpand();
</script>

{% include "eventowl/pagination.html" %}

{% else %}
    {% if request.GET.filter%}
        <p>No events matching {{ request.GET.filter }}.</p>
    {% else %}
        <p>Your <a href="{% url 'concertowl:show_artists' %}">subscribed artists</a> don't have events any time soon :(</p>
    {% endif %}
{% endif %}

{% endblock content %}
