{% extends 'concertowl/base.html' %}
{% block content %}
<legend>All your events. We hope you find something nice.</legend>

<form action="{% url 'concertowl:show_events' %}" method="get">
    {% include "eventowl/filter.html"%}
</form>

{% if events %}
      <table class="table table-hover table-striped" id=events-table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Artists</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr>
            <td>{{event.date|date}}</td>
            <td>
             {% for artist in event.artists.all %}
               {{ artist|title }}
               {% if not forloop.last %}, {% endif %}
             {% endfor %}
             </td>
           </tr>
           <tr>
             <td colspan="2">
                This event by
               {% for artist in event.artists.all %}
                  {{ artist|title }}
                  {% if not forloop.last %}, {% endif %}
               {% endfor %}
               is going to take place at <b>{{event.venue}}</b> in <b>{{event.city}}</b> ({{event.country}}).<br>
               Be there at <b>{{event.time}}</b> on <b>{{event.date}}</b>.<br>
               You can book your tickets <a href={{event.ticket_url}} target="_blank">here</a>.<br>
               <i>Enjoy :)</i>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>


<script type="text/javascript">
$('#events-table').jExpand();
</script>

{% include "concertowl/pagination.html" %}

{% else %}
    {% if request.GET.filter%}
        <p>No events matching {{ request.GET.filter }}.</p>
    {% else %}
        <p>Your <a href="{% url 'concertowl:show_artists' %}">subscribed artists</a> don't have events any time soon :(</p>
    {% endif %}
{% endif %}

{% endblock content %}
