{% extends 'concertowl/base.html' %}
{% block content %}

<legend>Have a look at all your subscribed artists.</legend>
<form action="{% url 'concertowl:show_artists' %}" method="get">
    {% include "eventowl/filter.html"%}
</form>

{% if artists %}
    <form action="{% url 'concertowl:show_artists' %}" method="get">
    <ul class="list-group">
    <button type="submit" style="display:none;"></button>
    {% for artist in artists %}
        <li class="list-group-item">
	        {{ artist.name|title }}
	        <button type="submit" class="btn btn-xs pull-right" name="remove" value="{{ artist.name }}">
	            <span class="glyphicon glyphicon-remove"></span>
	        </button>
	        {% if artist in favorites %}
		        <button type="submit" class="btn btn-xs pull-right" name="unfavorite" value="{{ artist.name }}">
	                 <font color="DarkOrange"><span class="glyphicon glyphicon-star"></span></font>
	            </button>
	        {% else %}
	            <button type="submit" class="btn btn-xs pull-right" name="favorite" value="{{ artist.name }}">
                     <span class="glyphicon glyphicon-star"></span>
                </button>
	        {% endif %}
        </li>
    {% endfor %}
    </ul>
    </form>
{% include "eventowl/pagination.html"%}

{% else %}
    {% if request.GET.name_filter%}
        <p>No artists matching '{{ request.GET.name_filter }}'.</p>
    {% else %}
        <p>You are not subscribed to any artists yet. Add some :)</p>
    {% endif %}
{% endif %}

{% endblock content %}
