{% extends 'concertowl/base.html' %}
{% load widget_tweaks %}
{% load static%}

{% block more_extra_header %}
<script src="{% static 'jquery/bootstrap-filestyle.min.js' %}"></script>
{% endblock more_extra_header %}

{% block content %}
<legend>Upload a json file with new artists. How very fancy.</legend>
<p>This file should be in json format and contain a list of artist names that you want to add. Please keep it under {{max_size_mb}}MB, thanks.</p>
<form class="form-inline" enctype="multipart/form-data" method="post" action="{% url 'concertowl:upload_json' %}">
{% csrf_token %}
<div class="form-group">
<div class="input-group">
    {{ form.artists|add_class:"filestyle"}}
</div>
<button type="submit" class="btn btn-primary">Upload</button>
</form>

{% if form.errors %}
<p><i>Could not upload file: {{ form.errors.artists|striptags }}</i></p>
{% endif %}

{%endblock content %}