{% extends 'concertowl/base.html' %}
{% load staticfiles%}

{% block more_extra_header %}
<script src="{% static 'id3.min.js' %}"></script>
<script src="{% static 'jquery/bootstrap-filestyle.min.js' %}"></script>
{% endblock more_extra_header %}

{% block content %}
<legend>Scan your local library without actually uploading anything. That's something now, isn't it?</legend>
<p>In very modern browsers you can select a directory and we will find every artists in there. In just regularly modern browsers, you'll have to select multiple files manually, sorry.</p>
<input type="file" id="filepicker" class="filestyle" data-input="false" data-buttonText="Choose directory or files" name="fileList" webkitdirectory multiple />
<span id="resulttext"></span>

<script>
    document.getElementById("filepicker").addEventListener("change", function(event) {
        let files = event.target.files;
        let item = document.getElementById("resulttext");
        item.innerHTML = "Found " + files.length + " files. Figuring out the artists now. Please stay on the page for now.";

        let artists = [];
        for (let i=0; i<files.length; i++) {
            id3(files[i], function(err, tags) {
                artists.push(tags.artist);
                if (i === files.length - 1) {
                    collected_artists(artists)
                }
            });
        };
    }, false);

    function collected_artists(artists) {
        let unique_artists = unique(artists);

        let item = document.getElementById("resulttext");
        item.innerHTML = "Found " + unique_artists.length + " unique artists, adding them now. Feel free to leave the page now.";

        base_url = Urls["concertowl:add_artists"]()
        add_url = base_url + "?add=" + unique_artists.join()
        $.get(add_url, function (data) {
            item.innerHTML = "Found and added " + unique_artists.length + " unique artists. Have fun!";
        });
    }
</script>
{%endblock content %}