{% extends "eventowl/base.html" %}
{% load widget_tweaks %}

{% block content %}
<legend>
Log in below. All the cool stuff around you is already waiting.
</legend>
<form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    <div class="form-group">
	    <div class="input-group">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		    {{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
		</div>
		<div class="input-group">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		    {{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}
		</div>
		<div class="input-group">
	        {{ form.remember.label_tag }} {{ form.remember }}
	    </div>
	    {% if redirect_field_value %}
	        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	    {% endif %}
	</div>
    <button type="submit" class="btn btn-primary">Log in</button>
    &nbsp; or &nbsp; 
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-default btn-large" role="button">
    	<span style="font-size:1.5em;" class="fa fa-google"></span>
 	</a>
</form>

<p></p>

{% if form.errors %}
     <p><i>Sorry, couldn't log you in: {{ form.errors.values.0|striptags}}</i></p>
{% endif %}

<p class="login-signup">
    <small>
    	Other options:
        <a href="{% url "account_password_reset" %}">Reset your password</a>
        or 
        <a href="{% url 'account_signup' %}">Sign up</a>
    </small>
</p>
{% endblock %}
