{% extends "eventowl/base.html" %}
{% load widget_tweaks %}

{% block content %}
<legend>Hey {{ user.username }}. Change your settings below.</legend>
<form method="POST" action="{% url "account_settings" %}">
    {% csrf_token %}
    <div class="form-group">
	    <div class="input-group">
	        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	        {{ form.email|add_class:"form-control" }}
	    </div>
	    <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            {{ form.city|add_class:"form-control" }}
        </div>
	</div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
<p><a href={% url 'account_password' %}>Change password</a></p>
<p><a href={% url 'account_delete' %}>Delete account</a></p>

{% if form.errors %}
     <p><i>Sorry, couldn't save settings: {{ form.errors.values.0|striptags}}</i></p>
{% endif %}

<p>Here is your <a href={% url 'eventowl:feed' uuid=user.userprofile.uuid %}>personalized RSS feed</a> and your <a href={% url 'eventowl:calendar' uuid=user.userprofile.uuid %}>personnal calendar</a></p>

{% endblock %}