{% extends "eventowl/base.html" %}
{% load widget_tweaks %}

{% block content %}

<legend>
Sign up to get personalized notifications and suggestions for all the fun stuff that happens around you
</legend>
<form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    <div class="form-group">
	    <div class="input-group">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		    {{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
		    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	        {{ form.email|add_class:"form-control"|attr:"placeholder:E-Mail" }}
		</div>
		<div class="input-group">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		    {{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}
	        <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
	        {{ form.password_confirm|add_class:"form-control"|attr:"placeholder:Password (repeat)" }}
	    </div>
	    <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            {{ form.city|add_class:"form-control"|attr:"placeholder:Event city" }}
        </div>
	    {% if redirect_field_value %}
	        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	    {% endif %}
	</div>
    <button type="submit" class="btn btn-primary">Sign up</button>
    &nbsp; or &nbsp;
    <a href="{% url 'account_login' %}" class="btn btn-default btn-large" role="button">
    	Login
 	</a>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-default btn-large" role="button">
    	<span style="font-size:1.5em;" class="fa fa-google"></span>
 	</a>
</form>

{% for name, preview in previews.items %}
	<p class="lead"> {{name|title}} shows you {{preview.0}} </p>
	<div class="container">
		<div class="row">
			{% for obj in preview.1 %}
				<div class="col-md-2">
					<a href={{ obj.link }}>
						<img src="{{ obj.image }}" alt="{{ obj.alttext }}" title="{{ obj.alttext }}" class="img-responsive">
					</a>
					<p>{{ obj.description }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endfor %}
{% endblock %}
