{% extends "eventowl/base.html" %}
{% load widget_tweaks %}

{% block content %}
<legend>Sign up below. It's worth it.</legend>
<form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    <div class="form-group">
	    <div class="input-group">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		    {{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
		</div>
		<div class="input-group">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		    {{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}
		</div>
		<div class="input-group">
	        <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
	        {{ form.password_confirm|add_class:"form-control"|attr:"placeholder:Password (repeat)" }}
	    </div>
	    <div class="input-group">
	        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	        {{ form.email|add_class:"form-control"|attr:"placeholder:E-Mail" }}
	    </div>
	    <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            {{ form.city|add_class:"form-control"|attr:"placeholder:Event city" }}
        </div>
	    {% if redirect_field_value %}
	        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	    {% endif %}
	</div>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>
<p class="login-signup">
    <small>
        Already have an account?  <strong><a href="{% url 'account_login' %}">Log in</a></strong>
    </small>
</p>
    
{% if form.errors %}
     <p><i>Account could not be created: {{ form.errors.values.0|striptags}}</i></p>
{% endif %}

{% endblock %}